h1 {
  color:red;
  background-color:lightGreen;
  border:12px solid violet;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

h2 {
  color:brown;
}

p, h1, h2 {
  font-family: cursive 
}
img {
    box-shadow: 10px 10px 15px grey;
}

p, img {
  margin-left:50px;
}

#hobbyTitle {
  font-family: 'caveat';
  font-size:40px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.funny {
  color:purple;
  font-family: 'caveat';
  font-size:40px;
}
