h1 {
  color:red;
  background-color:lightGreen;
  border:12px solid violet;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

p, h1 {
  font-family: cursive 
}

p, img, button {
  margin-left:50px;
}
