/*selector here*/    {
  background-color: #ccffcc;
  color: #336600;
}

 /*selector here*/   {
  background-color: #336600;
  color: #ccffcc;
}

/*selector here*/    {
  border: 3px solid;
}

 /*selector here*/   {
  background-color: #ffff99;
}

 /*selector here*/   {
  text-decoration: underline;
}

