/* CSS file for 2.5.5 Activity-Adding your own properties */

body {
    background-color: #ffff99;
}
 
h1 {
 
}
 
 
h2 {
    background-color: #ff6600
}
 
ol {
 
}
 
li {
    background-color: #ffcc00;
}
 
p {
 
}

