/* CSS file for 2.5.5 Activity-Adding your own properties */

body {
    background-color: #ffff99;
}
 
h1 {
    border: 3px #ff6600 solid;
    margin: 0.5em;
    padding: 0.2em;
    color: #ff6600;
    font-size: 2.5em;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 
 
h2 {
    background-color: #ff6600
}
 
ol {
 
}
 
li {
    background-color: #ffcc00;
}
 
p {
 
}

