body {
    background-color: #99ffff;
    margin-top: 20px;
    margin-left: 70px;
}
h1 {
    background-color: #ff6699;
    border-bottom: 20px #ff0066 solid;
    margin-bottom: 10px;
    padding: 5px;
}
ul {
    background-color: #ff9933;
    border-left: 5px black dashed;
    margin: 50px;
}
li {
    background-color: #ffcc66;
    margin: 10px;
    padding: 10px;
}
p {
    background-color: #ccff99;
    border: 10px white double;
    padding: 0px;
    margin: 0px;
}