body {
  background-color: #F8EEE7;
}
header p,
footer p {
  background-color: #F4DECB;
}
section p {
  background-color: #94618E;
  color: #F8EEE7;
}
article p {
  background-color: #49274A;  
}
#specific {
  background-color: #FFFFFF;
  color: #49274A;
}
p:hover {
    background-color: #B4DBC0 !important;
    border: 2px dashed black;
    color: black;
}

