body {
  background-color: #F8EEE7;
}
p {
  background-color: #F4DECB;
}
p {
  background-color: #94618E;
  color: #F8EEE7;
}
p {
  background-color: #49274A;  
}
p {
  background-color: #FFFFFF;
  color: #49274A;
}
p {
  background-color: #B4DBC0 !important;
  border: 2px dashed black;
}

