/* The CSS for 2.7 About Me page Activity */

body {
    background-color: palegoldenrod;
    margin: 1em;
}

section {
    border: 0.3em olive solid;
    margin-bottom: 0.5em;
}
footer {
    text-align: center;
    font-weight: 0.8em;
    color: darkblue;
}
h1 {
    color: rgb(109, 48, 59);
    margin: 0.2em;
    padding: 0.5em;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    margin: 0.2em;
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 70, 146)
}
h3 {
    margin: 1em 0.2em 0.2em 0.2em;
    padding: 1em;
    background: rgb(1, 71, 71);
    color: blanchedalmond;
    font-size: 1.2em;
    font-style: italic;
}
.author {
    text-align: right;
}
header p {
    border: none;

}
p {
    margin: 1.0em;
    padding: 0.7em;
    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.1em lightseagreen solid;
}

ol, ul {
    border: 5px olive solid;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding: 0.3em;
}

