body {
   background-color: #4ABDAC;
   color: #FFFFFF;
   font-family: Georgia, serif;
}

header {
   background-color: #F7B733;
   height: 75px;
   text-align: right;
   width: 100%;
   line-height: 75px;
}
 
h1 {
   padding: 15px;
   float: left;
}

#navigation {
   height: 30px;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
}
 
#navigation li:hover {
   border-bottom: 1px #FC4A1A solid;
}

#content {
   background-color: #DFDCE3;
   width: 50%;
   margin: 0 auto;
}

div {
   background-color: #FC4A1A;
   width: 250px;
   height: 150px;
   padding: 10px;
   margin: 20px;
}
