/*selector here*/    
body {
  background-color: #ccffcc;
  color: #336600;
}

/*selector here*/   
h1 {
  background-color: #336600;
  color: #ccffcc;
}

/*selector here*/
p {
  border: 3px solid;
}

/*selector here*/   
ol, ul {
  background-color: #ffff99;
}

/*selector here*/   
h2 {
  text-decoration: underline;
}

