div {
    margin-bottom: 50px;
    height: 400px;
  }
  form {
    padding: 30px;
    width: 500px;
  }
  /* Bad Design */
  #uglyForm input {
    border: 0px;
  }
  #uglyForm button {
    background-color: white;
    border: 0px;
  }
  /* DESIGN 1 */
  #form1 {
    background-color: #5E0231;
    font-family: Arial;
    color: #DBC3D0;
  }
  
  #form1 h1 {
    color: white;
    margin: 0px 0px 20px 0px;
  }
  
  #form1 input {
    background-color: #DBC3D0;
    border: 2px white solid;
    padding: 10px;
    margin-bottom: 15px;
  }
  #form1 input:hover, #form1 input:focus {
    border: 2px #DBC3D0 solid;
    background-color: white;
  }
  
  #form1 button {
    background-color: white;
    border: 3px #DBC3D0 solid;
    border-radius: 5px;
    color: #5E0231;
    padding: 10px 30px;
    font-size: 1.2em;
  }
  #form1 button:hover {
    background-color: #DBC3D0;
    color: white;
  }
  
  /* DESIGN 2 */
  #form2 {
    background-color: #49274A;
    font-family: Tahoma;
    font-variant: small-caps;
  }
  
  #form2 h1 {
    color: white;
  }
  
  #form2 input {
    background-color: #49274A;
    border: 1px #828081 solid;
    padding: 10px;
    color: #828081;
    font-variant: small-caps;
    margin-bottom: 20px;
    width: 200px;
  }
  
  #form2 input:hover, #form1 input:focus {
    border: 1px #94618E solid;
    color: #94618E;
  }
  
  #form2 button {
    background-color: #94618E;
    border: 0px;
    color: white;
    font-size: 0.9em;
    padding: 10px 20px;
    font-variant: small-caps;
    width: 225px;
  }
  
  /* DESIGN 3 */
  #form3 {
    background-color: #CAEBF2;
    font-family: 'Century Gothic';
  }
  
  #box{
    background-color: white;
    border-radius: 2px;
    margin: 50px;
    text-align: center;
    width: 500px;
  }
  
  #form3 h1 {
    color: #FF3B3F;
    text-align: center;
    margin: 0px;
  }
  
  #form3 input {
    border: 0px;
    border-bottom: 1px #A9A9A9 dashed;
    padding: 10px;
    color: #A9A9A9;
    width: 80%;
    margin: 10px;
    font-family: 'Century Gothic';
  }
  
  #form3 input:focus, #form3 input:hover {
    border: 1px #FF3B3F solid;
  }
  
  #form3 button {
    background-color: #FF3B3F;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-size: 0.9em;
    padding: 10px 20px;
    margin: 20px;
    width: 85%;
    font-family: 'Century Gothic';
  }
  