details {
	display:block; 
	width:300px;
	margin:10px 0;
}
summary {
	display:block; 
	background:#99B92C;
	color:white;
	border-radius:5px;
	padding:5px;
	cursor:pointer;font-weight:bold;
}

summary::-webkit-details-marker {
   color:#FF0000; 
   background:#FFFFFF; 
}

details[open] summary::-webkit-details-marker {
   color:#0000FF; 
   background:#00FFFF;
}
summary::-webkit-details-marker {
   display: none
}

summary:after {
   content: "+";
   color: #FF00FF;
   float: left;
   font-size: 1.5em;
   font-weight: bold;
   margin: -5px 5px 0 0;
   padding: 0;
   text-align: center;
   width: 20px;
}

details[open] summary:after {
   content: "-";
  color: #FFFFFF
}

