html, body {
  height: 100%
}

.map {
  height: 300px;
}

.btn {
  background-color: rgba(10, 10, 230, .5);
  border: 0;
  color: #fff;
  padding: 10px;
  text-shadow: 0 0 1px rgba(0, 0, 0, .3);
  text-decoration: none;
  margin: 0.5rem 0 1rem;
  display: inline-block;
}

